.product-page {
  padding: 2.5vh 5vh
}

.back-button {
  display: flex;
  margin-bottom: 20px;
  text-transform: lowercase;
}

h4 {
  margin: 7px 0;
  font-weight: 500;
}

.product-information {
 display: flex;
 flex-direction: row;
 align-content: space-evenly;
}

.product-text {
  margin-left: 30px;
  text-align: left;
}

.dimensions {
  margin-top: 20px;
  text-align: left;
  font-size: 14px;
}

.product-image {
  width: 400px;
}

.position-relative {
  position: relative;
  display: inline-block;
}

.sold-out-banner {
  text-transform: lowercase;
  position: absolute;
  top: 40px;
  right: -7px;
  background-color: #CC8E20;
  color: white;
  padding: 3px 7px;
}