.product-overview {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.product-details {
  margin-left: 2.5vh;
}

select {
  border-radius: 0;
  border-color: #e0dcd1;
  padding: 15px;
  padding-right: 30px;
  margin-right: 10px;
  margin-bottom: 20px;
  -webkit-appearance: none;
  background-color: #FAF6EB;
  color: #52504B;
  font-size: 15px;
  font-family: 'Jost', sans-serif;
  text-transform: lowercase;
}

.buy-button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
}

.custom-field {
  display: flex;
}

.select-wrapper {
  overflow: hidden;
  position: relative;
}

.select-wrapper:after {
  content: "▾";
  padding: 12px 8px;
  position: absolute;
  right: 10px;
  top: 0;
  z-index: 1;
  text-align: center;
  width: 10%;
  pointer-events: none;
}

.product-description {
  text-align: left;
}