/*
Colors:
#FAF6EB - beige
#EBE7DD - dark beige
#ABA79F - darker beige (for text)
#FFFCF5 - light beige
#52504B - dark text
#E1B94E - mustard
#E8C1B7 - pink
#D1A297 - dark pink

#CC8E20 - honey
*/

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;700&family=Oswald&display=swap');

body {
  background-color: #FAF6EB;
  color: #52504B;
  font-family: 'Jost', san-serif;
  margin: 0;
}

footer {
  color: #CC8E21;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 5vh;
}

.facebook {
  width: 30px;
  height: 30px;
  margin: 0 10px;
}

.instagram {
  width: 30px;
  height: 30px;
  margin: 0 10px
}

.linkedin {
  width: 30px;
  height: 30px;
  margin: 0 10px
}

.App {
  text-align: center;
  background-color: #FAF6EB;
  font-family: 'Jost', sans-serif;
  margin-top: 6rem;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.no-wrap {
  overflow: hidden;
  white-space: nowrap;
}

h2 {
  color: #CC8E20;
}

p {
  font-size: 16px;
  text-align: left;
}

a {
  color: #CC8E21;
  font-weight: 500;
  text-decoration: none;
}

a:hover {
  color: #E1B94E;
}

.page {
  padding: 2.5vh 5vh;
  background-color: #FAF6EB; /* #E1B94E (mustard)*/
  min-height: 66vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}

.home {
  min-height: 77vh;
  background-image: url("../images/pottery.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.coming-soon {
  background-image: url("../images/pottery.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  min-height: 77vh;
  opacity: 0.6;
}

.coming-soon-text {
  font-size: calc(5em);
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  color: white;
  letter-spacing: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 77vh;
  opacity: 1;
  position: absolute;
  top: 13vh;
  left: 0;
  width: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face{
  font-family: "PalmCanyonDrive";
  src: url('../resources/PalmCanyonDrive-Trial.otf');
}

/* Burger bar */
/* Position and sizing of burger button */
.bm-burger-button {
  background: #FAF6EB;
  position: absolute;
  width: 36px;
  height: 30px;
  left: 3vh;
  top: 5vh;
  z-index: 1;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #CC8E20;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #CC8E21;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #CC8E20;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #FAF6EB;/* #CE7E7D; */
  padding: 0 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  /* color: #b8b7ad; */
  padding: 0 0 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #CC8E20;
  font-weight: bold;
  text-decoration: none;
  font-size: 3vh;
  padding: 10px;

  font-family: 'Oswald', sans-serif;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.0);
}


/** Snipcart Overwrites **/
#snipcart-header,
#snipcart-sub-content,
#snipcart-fees {
  background-color: #FAF6EB;
}

#snipcart-title {
  letter-spacing: 2px;
}

#snipcart-sub-content p.snip-product__empty {
  font-family: 'Jost', sans-serif;
  text-transform: lowercase;
  padding-bottom: 50px;
}

#snipcart-header-total {
  position: absolute;
  right: 30px;
  background-color: #EBE7DD;
  border: none;

  .snip-header__total-label {
    color: #52504B;
  }
}

#snipcart-header-total .snip-header__total-label {
  color: #52504B;
  font-weight: 400;
  text-transform: lowercase;
}
#snipcart-amount {
  color: #52504B;
  font-weight: 700;
}

#snipcart-items-header {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1px;
  border: none;
  color: #ABA79F;
}

#snipcart-items-header tr,
#snipcart-items-header th {
  border: none;
}

#snipcart-main-container span.snipcart-unit-price,
#snipcart-main-container span.snipcart-total-price,
#snipcart-main-container table.snipcart-list span.snipcart-product-name,
#snipcart-main-container table.snipcart-list span.snipcart-shipping-method-name,
 #snipcart-main-container table.snipcart-list span.snipcart-shipping-method-price,
#snipcart-main-container table.snipcart-list span.snipcart-confirm-item-quantity,
#snipcart-main-container table.snipcart-list span.snipcart-confirm-item-price,
#snipcart-main-container table.snipcart-list span.snipcart-confirm-item-total-price,
#snipcart-main-container label,
ul#snipcart-steps li span.snipcart-step-text,
#snipcart-main-container table.snipcart-list th,
#snipcart-main-content .snipcart-column span.snipcart-title,
table#snipcart-confirm-prices tr td span,
#snipcart-main-container .snipcart-full-width-text span.snipcart-title,
#snipcart-main-container .snipcart-full-width-text,
#snipcart-step-content-emptycart .snipcart-full-width-text p,
#snipcart-blocked .snipcart-full-width-text p,
#snipcart-header,
#snipcart-header #snipcart-total span {
    font-family: 'Jost', sans-serif;
}

#snipcart-header #snipcart-title  {
  font-family: 'Oswald', sans-serif;
  left: 0;
  margin-left: 30px;
}

#snipcart-footer {
  display: none;
}

#snipcart-actions a,
#snipcart-next,
#snipcart-paymentmethod-pay,
#snipcart-sub-content .snip-actions a.js-submit {
  background-color: #CC8E20;
  font-family: 'Oswald', sans-serif;
  color: white;
  font-size: 16px;
  letter-spacing: 2px;
}

#snipcart-previous,
#snipcart-sub-content .snip-actions a.js-back {
  font-family: 'Oswald', sans-serif;
  color: white;
  font-size: 16px;
  letter-spacing: 2px;
}

#snipcart-close {
  color: #52504B;
}

#snipcart-items-list a.snip-product__remove {
  color: #52504B;
}

#snipcart-items-list .snip-quantity-trigger a.snip-quantity-trigger__btn {
  background-color: #EBE7DD;
}

#snipcart-items-list .snip-quantity-trigger__text {
  font-weight: normal;
}

#snipcart-items-list h2.snip-product__name {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1px;
  color: #52504B;
  margin: 0;
}

#snipcart-items-list p.snip-product__description {
  font-family: 'Jost', sans-serif;
  text-transform: lowercase;
  margin-top: 5px;
  color: #ABA79F;
}

#snipcart-items-list,
#snipcart-items-list .snip-table__item,
#snipcart-items-list .snip-table__item td {
  font-family: 'Jost', sans-serif;
  font-weight: normal;
  border: none;
}

#snipcart-items-list .snip-layout .snip-product__thumbnail img {
  max-height: none;
}

#snipcart-items-list label.snip-form__label,
#snipcart-items-list-now span,
#snipcart-total td.snip-table__cell--right,
#snipcart-fees td.snip-table__cell--right{
  font-family: 'Jost', sans-serif;
  text-transform: lowercase;
}
#snipcart-discounts {
  display: none;
}

#snipcart-actions {
  border: none;
}

#snipcart-items-list .snipcart-customfield-element input {
  border: none;
  background-color: #EBE7DD;
  text-transform: lowercase;
  font-family: 'Jost', sans-serif;
  pointer-events:none;
}

#snipcart-checkout-step.snip-step__item.js-active,
#snipcart-billing-address-step.snip-step__item.js-active,
#snipcart-payment-method-step.snip-step__item.js-active,
#snipcart-confirm-step.snip-step__item.js-active {
  background-color: #FAF6EB;
  color: #52504B;
  border: none;
}

#snipcart-checkout-step.snip-step__item,
#snipcart-billing-address-step.snip-step__item,
#snipcart-payment-method-step.snip-step__item,
#snipcart-confirm-step.snip-step__item {
  background-color: #EBE7DD;
  color: #ABA79F;
  border: none;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1px;
}

#snipcart-sub-content label {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1px;
  color: #ABA79F;
}

#snipcart-sub-content input,
#snipcart-sub-content select {
  font-family: 'Jost', sans-serif;
  background-color: #FFFCF5;
  color: #52504B;
  border: none;
}

#snipcart-sub-content p {
  font-family: 'Jost', sans-serif;
  color: #ABA79F;
}

#snipcart-sub-content p.snip-form__error {
  background: none;
  color: #CC8E21;
}

#snipcart-sub-content h2 {
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1px;
  color: #52504B;
}

#snipcart-sub-content div,
#snipcart-sub-content div.snip-col,
#snipcart-sub-content tr.snip-table__item,
#snipcart-sub-content tr.snip-table__item td,
#snipcart-fees,
#snipcart-fees tr,
#snipcart-total {
  border: none;
}

#snipcart-total,
#snipcart-fees {
  padding: 20px 20px
}

#snipcart-loading-container {
  background-color: #FAF6EB;
  color: #52504B;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 2px;
}